
.icon-play-circled2:before { content: '\e800'; } /* '' */
.icon-down-circled:before { content: '\e801'; } /* '' */
.icon-down-circled2:before { content: '\e802'; } /* '' */
.icon-attention-circled:before { content: '\e803'; } /* '' */
.icon-spin2:before { content: '\e831'; } /* '' */
.icon-attention-alt:before { content: '\f12a'; } /* '' */